---
layout: sezionelocale
title: Alessandria

extras:
  - label: Web
    value: <a href="https://alessandria.ils.org/" rel="nofollow">Clicca Qui</a>

  - label: Referente
    value: angelo.pistamiglio@linux.it
---

<p>
    La Sezione Locale ILS di Alessandria raccoglie l'eredità di ALLUG, il precedente LUG cittadino.
</p>
