<div id="ils_footer" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <div class="cell">
          <span style="text-align: center; display: block">
            <a rel="nofollow" href="https://www.gnu.org/licenses/agpl-3.0-standalone.html" rel="license">
              <img src="https://www.linux.it/shared/index.php?f=immagini/agpl3.svg" style="border-width:0" loading="lazy" alt="AGPLv3 License">
            </a>

            <a rel="nofollow" href="https://creativecommons.org/publicdomain/zero/1.0/deed.en_US" rel="license">
              <img src="https://www.linux.it/shared/index.php?f=immagini/cczero.png" style="border-width:0" loading="lazy" alt="Creative Commons Public Domain License">
            </a>
          </span>
        </div>

        <div class="mt-3 text-center">
            <a href="https://www.ils.org/privacy" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 1a.75.75 0 0 1 .75.75V3h5.5a.75.75 0 0 1 0 1.5h-1.393l.565.79 1.086 1.521A2.7 2.7 0 0 1 15 8.375C15 9.825 13.88 11 12.5 11S10 9.825 10 8.375a2.7 2.7 0 0 1 .492-1.564l1.086-1.52.565-.791H8.75v9.75a.749.749 0 0 1-.043.25h2.543a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h2.543a.749.749 0 0 1-.043-.25V4.5H3.857l.565.79 1.086 1.521A2.7 2.7 0 0 1 6 8.375C6 9.825 4.88 11 3.5 11S1 9.825 1 8.375a2.7 2.7 0 0 1 .492-1.564l1.086-1.52.565-.791H1.75a.75.75 0 0 1 0-1.5h5.5V1.75A.75.75 0 0 1 8 1Zm5.5 7.375c0-.27-.083-.508-.215-.695l-.785-1.1-.785 1.1a1.201 1.201 0 0 0-.215.695c0 .691.516 1.125 1 1.125s1-.434 1-1.125ZM4.285 7.68c.132.187.215.425.215.695 0 .691-.516 1.125-1 1.125s-1-.434-1-1.125c0-.27.083-.508.215-.695l.785-1.1.785 1.1Z" fill="white"/></svg>
            <span class="ml-2">Informativa Privacy</span>
          </a>
        </div>

        <div class="mt-3 text-center">
          <a href="https://gitlab.com/ItalianLinuxSociety/ils.org" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.6979 7.28711L8.71226 0.3018C8.31016 -0.100594 7.65768 -0.100594 7.25502 0.3018L5.80457 1.75251L7.64462 3.59255C8.07224 3.44815 8.56264 3.54507 8.90339 3.8859C9.2462 4.22884 9.3423 4.72345 9.19416 5.15263L10.9677 6.92595C11.3969 6.77801 11.8917 6.87364 12.2345 7.21692C12.7133 7.69562 12.7133 8.47162 12.2345 8.95072C11.7553 9.42983 10.9795 9.42983 10.5001 8.95072C10.1399 8.59023 10.0508 8.06101 10.2335 7.61726L8.5793 5.96325V10.3157C8.69594 10.3735 8.80613 10.4505 8.90339 10.5475C9.38223 11.0263 9.38223 11.8022 8.90339 12.2817C8.42456 12.7604 7.64815 12.7604 7.16967 12.2817C6.69083 11.8022 6.69083 11.0263 7.16967 10.5475C7.28802 10.4293 7.42507 10.3399 7.5713 10.28V5.88728C7.42507 5.82742 7.28835 5.73874 7.16967 5.61971C6.80701 5.25717 6.71974 4.72481 6.90575 4.27937L5.09177 2.46512L0.301736 7.25474C-0.100579 7.65747 -0.100579 8.30995 0.301736 8.71233L7.28767 15.6977C7.68985 16.1 8.34213 16.1 8.74491 15.6977L15.6979 8.7447C16.1004 8.34225 16.1004 7.68944 15.6979 7.28711" fill="white"/>
            </svg>
            <span class="ml-2">Contribuisci con Git</span>
          </a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="cell">
          <h2>RESTA AGGIORNATO!</h2>
            <iframe title="Newsletter ILS" src="https://crm.linux.it/form/1" width="100%" height="430" frameBorder="0"><p>Your browser does not support iframes.</p></iframe>
        </div>
      </div>

      <div class="col-md-3">
        <div class="cell">
          <h2>Amici</h2>
          <p style="text-align: center">
            <a href="https://www.ils.org/info#aderenti">
              <img src="https://www.ils.org/external/getrandlogo.php" border="0" loading="lazy" alt="Aderenti a Italian Linux Society" /><br />
              Scopri tutte le associazioni e le aziende che hanno aderito a Italian Linux Society.
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="cell">
          <h2>Network</h2>
          <script type="text/javascript" src="https://www.ils.org/external/widgetils.js" defer></script>
          <div id="widgetils"></div>
        </div>
      </div>

    </div>
  </div>

  <div style="clear: both"></div>
</div>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.linux.it/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
